
/* ===== STYLING TO SET UP HTML ===== */

* {
    /*border: 1px solid darkorange;*/
    padding: 10px;
}

h3 {
    text-transform: uppercase;
}

.order-form {
    background: lawngreen; 
}

.menu {
    background: pink;
}

.button-container {
    background: yellow;
}

button {
    background: lightblue;
}

.cart {
    background: turquoise;
}

.cart div {
    background: lightsteelblue;
    margin: 5px;
}

.itemInfo {
   font-style: italic;
}

.cart span {
    display: inline-block;
}

.priceInfo {
    display: inline-block;
    margin-bottom: 10px;
}

.itemized {
    text-align: right;
    margin-left: 25px;
}

table, th, td {
    width: 100%;
    border: 1px solid black;
}


.orderTotal {
    font-weight: bold;
    font-size: 1.2em;
}

.moneyFormat {
    text-align: right;
}

.orderCategory {
    font-weight: bold;
    color: green;
}

.itemColumn {
    width: 75%;
}

.priceColumn {
    width: 25%;
}

footer{
    white-space: pre;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal div {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 25px 40px 90px 40px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 55%; /* Could be more or less, depending on screen size */
}

.closeBtn {
    color: #c30;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}