
/* ===== STYLING TO SET UP HTML ===== */

* {
    /*border: 1px solid darkorange;*/
    padding: 10px;
}

h3 {
    text-transform: uppercase;
}

.order-form {
    background: lawngreen; 
}

.menu {
    background: pink;
}

.button-container {
    background: yellow;
}

button {
    background: lightblue;
}

.cart {
    background: turquoise;
}

.cart div {
    background: lightsteelblue;
    margin: 5px;
}

.itemInfo {
   font-style: italic;
}

.cart span {
    display: inline-block;
}

.priceInfo {
    display: inline-block;
    margin-bottom: 10px;
}

.itemized {
    text-align: right;
    margin-left: 25px;
}

table, th, td {
    width: 100%;
    border: 1px solid black;
}


.orderTotal {
    background: red;
}

.moneyFormat {
    text-align: right;
}

.orderCategory {
    font-weight: bold;
    color: green;
}

.itemColumn {
    width: 75%;
}

.priceColumn {
    width: 25%;
}