/** {
    border: 1px solid purple;
}*/

/* ===== PAGE ELEMENTS ===== */

    body {
        background-image: url('../images/tablecloth.jpg');
        background-size: cover;
        background-color: #c30;
        font-family: 'Habibi', serif;
    }

    h1 {
        text-align: center;
        color: #fff;
        margin: 20px;
    }

    h3 {
        margin-bottom: 0.25em;
        color: #145214;
        text-transform: uppercase;
    }

    .moneyFormat {
        text-align: right;
        font-weight: bold;
    }

/* ===== MAIN CONTAINER, MENU, ORDER FORM ===== */

    main {
        margin: 30px auto;
        padding: 10px;
        width: 95%;
        max-width: 1400px;
        border-radius: 10px;
        background: #1e7b1e;
    }

    .menu {
        margin: 25px auto;
        padding: 25px 10px 0 25px;
        background: #f4efbe;
        max-width: 90%;
        display: block;
    }

    .order-form {
        line-height: 1.4em;
        overflow: hidden;
    }

    section {
        display: inline-block;
    }

    input {
        margin: 0 9px;
        vertical-align: middle;
    }

    .priceInfo {
        font-style: italic;
        display: inline-block;
        margin-bottom: 10px;
    }

    .button-container {
        float: right;
    }

/*===== BUTTONS =====*/

    button {
        height: 50px;
        width: 135px;
        margin: 5px;
        padding: 0.75em 1.25em;
        border: none;
        border-radius: 30px;
        background: #1e7b1e;
        color: #fff;
        font-family: inherit;
        font-size: 1.1em;
        cursor: pointer;
    }

    button:focus {
        outline: none;
    }

    form button {
        margin-top: 20px;
    }

    .cart button {
        width: 150px;
    }

    .cancelBtn {
        background: #ff4d4d;
        border-radius: 10px;
    }


/*===== CART =====*/

    .cart {
        background: #fbfae9;
        margin: 10px auto;
        border: 4px solid #c30;
        border-radius: 15px;
        padding: 20px;
        width: 60%;
        max-width: 500px;
        z-index: 250;
    }

    table {
        width: 100%;
    }

    .tableHeadings {
        padding: 5px;
        background: #992600;
        color: #fff;
        font-size: 0.85em;
        text-align: left;
        text-transform: uppercase;
    }

    .orderSummary {
        width: 95%;
        margin: 0 auto;
    }

    td {
        border-bottom: 1px dotted #666;
    }

    /* class assigned in JS */
    .itemColumn {
        width: 70%;
    }

    /* class assigned in JS */
    .priceColumn {
        width: 30%;
    }

    /* class assigned in JS */
    .categoryCell {
        padding-top: 0.5em;
        border: none;
        font-size: 1.1em;
        font-weight: bold;
        color: #1e7b1e;
    }

    /* class assigned in JS */
    .itemCell {
        padding: 0 0 0.25em 0.75em;
    }

    .tableTotal {
        background: #d5ff80;
        margin: 0.5em 0 1em 0;
            color: #145214;
        font-size: 1.25em;
    }


/*===== GUARANTEE (<details>) =====*/

    details {
        margin: 15px 0;
    }

    details summary {
        font: 1.5em 'Satisfy', cursive;
        outline: none;
    }

    details p {
        margin-bottom: 30px;
        font-style: italic;
        font-weight: bold;
        color: #1e7b1e;
        text-align: center;
    }

/*===== FOOTER STYLING =====*/

    footer {
        width: 100%;
        padding: 1px;
        margin: 40px auto 0 auto;
        background: #fff;
        opacity: 0.7;
    }

    footer div {
        margin: 10px auto;
        width: 95%;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.85em;
        line-height: 0;
    }

    footer img {
        vertical-align: middle;
        margin-right: 20px;
    }

    footer span {
        margin: 0 10px;
    }


/*===== MODALS =====*/

    .confModal, .cartModal {
        display: none;
        position: fixed;
        z-index: 200;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.45);
    }

    .confMessage {
        font:  2em/2em 'Satisfy', cursive;
        text-align: center;
        background: #fbfae9;
        margin: 10% auto;
        padding: 25px 20px 60px 10px;
        border: 5px solid #c30;
        border-radius: 10px;
        width: 55%;
    }

    .closeBtn {
        font: bold 1.5em Arial, Helvetica, sans-serif;
        color: #c30;
        float: right;
    }

    .closeBtn:hover,
    .closeBtn:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


/*===== FLEXBOX =====*/

.flex-container {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    flex: auto;
    justify-content: flex-start;
    max-height: 275px;
    margin-bottom: 15px;
    order: 1;
    flex-grow: 1;
}



/*===== PIZZA GRAPHIC =====*/

.pizza-frame {
    width: 400px;
    min-height: 410px;
    order: 2;
}

.pizza {
    height: 375px;
	width: 375px;
    margin: 12.5px;
    border-radius: 50%;
    position: absolute;
}

#pizza-crust {
    fill: #e9cd96;
    stroke: #e0c285;
}

#pizza-sauce {
    fill: #d13f16;
}

.pizza-size {
    position: relative;
    border-radius: 50%;
    z-index: 10;
    margin: auto;
    bottom: 5px;
}

.size-personal {
    height: 260px;
    width: 260px;
}

.size-medium {
    height: 295px;
    width: 295px;
    right: 17px;
    bottom: 17px;
}

.size-large {
    height: 325px;
    width: 325px;
    right: 15px;
    bottom: 15px;
    overflow: hidden;
}

.size-xlarge {
    height: 350px;
    width: 350px;
    right: 10px;
    bottom: 20px;
}

.toppings img {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 3px;
    left: 2px;
    display: none;
    z-index: 25;
}

.meat-toppings img {
    top: 6px;
    left: -5px;
}

.veg-toppings img {
    top: 3px;
}

#img-cheese {
    display: block;
}


/*===== MEDIA QUERIES =====*/

@media (max-width: 800px) {
    .flex-item {
        min-width: 260px;
    }
    .pizza-frame {
        display: none;
    }
}

@media (min-width: 400px) and (min-width: 800px) {
    .flex-item {
        order: 3;
        max-width: 330px;
        min-width: 265px;
    }
    .item1 {
        order: 0;
        max-width: 265px;
    }
    .pizza-frame {
        display: flex;
        order: 2;
        max-width: 400px;
    } 
    .button-container {
        padding-top: 55%;
    }
}

@media (min-width: 900px) { 
    main {
        width: 90%;
    }
    .menu {
        padding: 35px 25px 15px 40px;
    }
}

@media (min-width: 1000px) {
    .flex-item {
        width: 250px;
    }
    .item1 {
        padding-top: 10%;
    }
    .pizza-frame {
        min-width: 400px;
    }
    .button-container {
        padding-top: 25%;
    }
}

@media (min-width: 1165px) {
    .flex-container {
        justify-content: space-around;
    }
    .item1, .item2 {
        order: 0;
        max-width: 330px;
        padding-top: 13%;
    }
    /*.item3, .item4 {
        position: relative;
        top: -150px;
    }*/
}

@media (min-width: 1250px) { 
    .menu {
        max-width: 85%;
        padding: 40px 25px 20px 40px;
    }
}

@media (min-width: 1402px) {
    .button-container {
        padding-top: 30px;
    }
    section {
        font-size: 1.05rem;
        line-height: 1.5em
    }
}
